* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color: #ddd;
    font-size: 14px;
}

span.red {
    color: red;
}

header {
    /* 背景画像を指定 */
    background-image: url("../img/bg.jpg");
    /* 中央揃えにします */
    background-position: center center;
    /* 縦横比は維持しながら背景領域を覆う最小サイズになるように背景画像を調節します。 */
    background-size: cover;
    /* 背景画像のリピートが無いことを指定します。 */
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

#logo {
    padding: 20px 0;
    text-align: center;    
}

#logo img {
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 100%;
}

#logo h1 {
    letter-spacing: 0.15em;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

nav {
    margin: 0 0 30px 0;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
}

nav ul {
    margin: 0 10px;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
    display: inline-block;
}

nav ul li a {
    padding: 15px 10px;
    text-decoration: none;
    color: #999;
    font-weight: bold;
}

nav ul li a.selected {
    color: #000;
}

.container {
    max-width: 800px;
    margin: -100px auto 0;
    background-color: #fff;
}

section {
    padding: 30px 20px;
}

section h2 {
    padding: 10px 0 20px 0;
    text-align: center
    letter-spacing 0.15em; 
}

footer {
    padding: 20px 0;
    font-size: 93%;
    text-align: center;
    background-color: #ccc;
    color: #666;
}